<div class="flex items-center justify-between mb-4">
    <h3 class="text-base font-medium text-ink">{dateLabel}</h3>
</div>

{#if future}
{! Future dates cannot be logged against !}
<p class="empty-note">
    Actions can't be logged for a future date.
</p>
{#else}
{! Search bar !}
{#include partials/search-input id="day-search-input" url=str:fmt('/internal/logs/day/%s/list?page=1', date) target="#day-actions-list" /}

{! Actions list !}
<div id="day-actions-list" class="flex flex-col gap-1">
    {#include partials/day-actions-list date=date page=page /}
</div>
{/if}
